body{
    font-family: 'Roboto', sans-serif;
}
main{
    display:grid;
    grid-template-columns: auto auto;
}
section{
    display: grid;
    grid-template-rows: auto auto;
}
footer{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    display:grid;
    grid-template-columns: auto auto;
}
article{
    font-size: 60px;
}
.calendrier{
    width: 250px;
    height: 320px;
    text-align: center;
    background-color: whitesmoke;
    color: grey;
    border-radius: 50px 50px;
    z-index:99;
    border-left: 3px solid #d3d3d3;
    border-right: 3px solid #d3d3d3;
}
.horloge{
   color: #474747;
}
.jour, .annee{
    color: whitesmoke;
    background-color: #b03737;
    z-index:1;
}
.jour{
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-top: 3px solid #912c2c;
    border-right: 3px solid #912c2c;
    border-left: 3px solid #912c2c;
    margin-top: -10px;
}
.nombre, .mois{
    height: 20px;
    margin-bottom: 20px;
    color: #909090;    
}
.nombre{
    margin-top: -60px;
}
.mois{
    color: #7c7c7c;
    text-transform: uppercase;
}
.annee{
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-bottom: 3px solid #912c2c;
    border-left: 3px solid #912c2c;
    border-right: 3px solid #912c2c;
}
.temps_écoulé{
    width: 300px;
}

